@charset utf-8;
/* @import url(normalize.css);
@import url(fonts.css); */

/* ----------------cover--------------------------- */
.cover {
  visibility: unset;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(11,11,11,0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(240,240,240);
}

.cover section > *{
margin: 10px;
text-align: center;
}

.cover h1{
  display: block;
  color: rgb(240,240,240);
  font-size: 10rem;
  line-height: 0.1;
}

.cover p{
  display: block;
  color: rgb(240,240,240);
  font-size: 4rem;
  line-height: 0.1;
}

.cover input{
  width: 14vh;
  height: 10vh;
  font-size: 1rem;
  line-height: 0.1;
}

/* ----------------header--------------------------- */


header {
  width: 100vw;
}


header * {
  float: right;
}

header .copy_link {
  height: 100%;
  width: auto;
  size: 3rem;
  margin: 2px;
}

header img{
  float: left;
  height: 100%;
  width: auto;
}



/* ----------------contents--------------------------- */

.contents {
  width: 100vw;
  height: 100vh;
  position: relative;
}


/* .contents:after {
  content: "";
  background-image: url(http://www.evidence.org.kw/photos/Kuwait-invasion-land-mines-4065.jpg);
  opacity: 0.5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
} */

.contents header {
 height: 10vh;
 background-color: red; 
}

.contents a{
  display: block;
  height: 10vh;
  width: 10vh;
  float: right;
}

.contents form{
  height: 5vh;
  width: 8vh;
  float: right;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(4, 1fr); */
  grid-gap: 10px;
}

.lv1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #111111;
  border-style: solid;
  border-width: 5px;
  border-color: aqua;
  color: white;
  height: 20vh;
}

.lv2 {
  background: white;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(0, 255, 64);
  color: black;
  height: 80%;
  width: 40%;
}

.flaged {
  background: pink;
}

/* ----------------footer--------------------------- */

footer {
  background-color: aqua;
  display: flex;
  justify-content: flex-end;
}



/* ----------------win--------------------------- */

.win {
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



/* ----------------fail--------------------------- */


.fail {
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}