@charset "utf-8";

.field {
    background-color: rgb(30, 119, 18);
    width: 100vw;
    height: 80vh;
}

#u01 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(150, 114, 37);
    position: absolute;
    top: 350px;
    left: 350px;
}

#u02 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(150, 114, 37);
    position: absolute;
    top: 450px;
    left: 350px;
}